<p>
    Hiii
</p>
<!-- <div>
    <nav class ='navbar navbar-default'>
    <div class = 'conrainer-fluid'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class = 'nav navbar-nav'>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/desktop']">DeskTop</a></li>
    <li><a [routerLink]="['/androidapp']">AndroidApp</a></li>
    </ul>
    </div>
    </nav>
    <div class= 'container'>
    <router-outlet></routrer-outlet>
    </div>
      </div>
       -->

    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/desktop']">DeskTop</a></li>
    <li><a [routerLink]="['/androidapp']">AndroidApp</a></li>

    <router-outlet></routrer-outlet>