<!-- 
     <nav class="navbar navbar-default">
     <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="/">Home</a></li>
        <li><a [routerLink]="/desktop">Desktop</a></li>
        <li><a [routerLink]="/androidapp">Android App</a></li>
      
      </ul>
    </div>
     </nav>
       -->
     <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
             <div>
              <a class="navbar-brand" [routerLink] = "['/']">Home</a>
            </div>
            <div>
                <a class="navbar-brand" [routerLink] = "['/desktop']">Desktop</a>
              </div>

              <div>
                  <a class="navbar-brand" [routerLink] = "['/androidapp']">Android App</a>
                </div> 
         <ul class="nav navbar-nav">
          <li> 
            <a [routerLink]="['/']">Home</a>
          </li>
          <li> 
            <a [routerLink]="['/desktop']">Desktop</a>
          </li>
          <li >
            <a [routerLink]="['/androidapp']">Android App</a>
          </li>
   
        </ul> 
    </div>
      </nav>  -->

      <nav class="navbar navbar-dark bg-dark mb-5">
          <img src="assets/images/fvdtube_logo.png" height="75" width="75"/>
          <label class="navbar-nav">FvdTube</label>
          <div class="navbar-expand mr-auto">
            <div class="navbar-nav">
              <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
              <a class="nav-item nav-link" [routerLink]="['/desktop']">Desktop</a>
              <a class="nav-item nav-link" [routerLink]="['/androidapp']">Android App</a>
            </div>
          </div>
        </nav>
       <router-outlet></router-outlet>